*{
    /* --success: #a3d887; */
    --success: #81ce57;
    --non-success: #6169FF;
}
#push{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    /* margin: 30px; */
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: 900;
    justify-content: center;
    background-color: #51bc23;
    color: #fff;
    border-radius: 100%;

    box-shadow: 0 0 10px #ddd;
    transition: all .5s;
    cursor: pointer;
    transition-timing-function:  cubic-bezier(0, -0.14, 0, 2.16);
    z-index: 100;
}

#push:hover{
    box-shadow: 0 0 15px #ddd;
    transform: scale(1.1) rotate(90deg);
    filter: brightness(1.1);
}
#push:active{
    transform: scale(.9) rotate(90deg);
    filter: brightness(1.1);
}

body{
    margin: 50px;
    background-image: url("https://raw.githubusercontent.com/5-23/todo/main/assets/todo_bg.svg");
    background-size: 20px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

article{
    animation-name: intro;
    animation-duration: .5s;
    animation-timing-function:  cubic-bezier(0, -0.14, 0, 1.5);
    width: 200px;
    height: 200px;
    color: var(--fc);
}

article > img{
    position: absolute;
    user-select: none;
    width: 200px;
    z-index: 0;
}
article > h1{
    font-size: medium;
    position: relative;
    z-index: 1;
    padding-top: 10px;
    text-indent:  45px;
}
article > section{
    position: relative;
    z-index: 0;
    color: var(--fc);
    opacity: .8;
    word-wrap: break-word;
    padding: 10px;
}


@keyframes intro {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

::-webkit-scrollbar {
  width: 6px;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 100px;
}



form{
    background-color: #fff;
    padding: 50px;
}

input[type="text"]{
    height: 30px;
    width: 250px;
    padding-left: 8px;
    border: 0;
    outline: solid var(--non-success) 3px;
    transition-timing-function:  cubic-bezier(0, -0.14, 0, 2.16);

}
input[type="text"]:valid{
    outline: solid var(--success) 3px;
}

input#title:valid ~ label[for="title"]{
    transform: translateX(5px) translateY(-44.5px) scale(.8);
    color: var(--success);
}

input#title:focus ~ label[for="title"]{
    transform: translateX(5px) translateY(-44.5px) scale(.8);
    color: var(--non-success);
}


input#des:valid ~ label[for="des"]{
    transform: translateX(5px) translateY(-44.5px) scale(.8);
    color: var(--success);
}

input#des:focus ~ label[for="des"]{
    transform: translateX(5px) translateY(-44.5px) scale(.8);
    color: var(--non-success);
}


form > label{
    padding: 0 5px;
    position: absolute;
    color: #ddd;
    transition: all .3s;
    border-radius: 50px;
    background-color: #fff;
    transform: translateX(5px) translateY(-27px);
    
}

input[type="submit"]{
    background-color: var(--non-success);
    color: #fff;
    border: 0;
    outline: 0;
    padding: 7px 10px;
    cursor: pointer;
    transition: all .5s;
    transition-timing-function:  cubic-bezier(0, -0.14, 0, 2.16);
}

input[type="submit"]:hover{
    transform: scale(1.05);
}

input[type="submit"]:active{
    transform: scale(.98);
}

input#title:valid ~ input#des:valid ~ input{
    background-color: var(--success);
}